<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="assets/css/finish_upload.css">


<%= erb :header %>

<div class="finish">
  <h3>あなたのエモ画像がアップロードされました。エモ度は2,554です。</>
</div>

<%= erb :one_pic %>

<%= erb :footer %>
