<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>無料の平成エモ画像</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/header.css">


</head>
<body>
<div class="hwrapper">
  <div class="header">
    <div id = "logo">
      <a href="/" title="平成hub" rel="home"><img width="123" height="40" src="/assets/images/logo.png" alt="" /></a>
    </div>
    <div id = "kensaku">
      <form id="form1" action="自分のサイトURL" method="get">
      <input class="keyword" id="s" name="s" type="text" placeholder="キーワードを入力" />
      </form>
    </div>
    <div id = "botton">
      <input type="image" alt="検索" width="45" height="24" src="/assets/images/search.png" />
    </div>

    <div id = "upload">
      <a href="/upload" title="アップロード" rel="home"><img width="103" height="24" src="/assets/images/upload.png" alt="" /></a>
    </div>
    <div id = "premium">
      <a href="/premium" title="プレミアム" rel="home"><img width="90" height="24" src="/assets/images/premiamu.png" alt="" /></a>
    </div>
  </div>

  <nav class="nav">
   <ul>
    <li class=”current”><a href="/">ホーム ▼</a></li>
    <li><a href="/category">カテゴリ ▼ </a></li>
    <li><a href="/ranking">ランキング ▼</a></li>
    </ul>
  </nav>
</div>
