<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>無料の平成エモ画像</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" media="all" href="style.css">
</head>

<body>

<div class="hwrapper">
<div class="header">
  <div id = "logo">
		<a href="index.html" title="平成hub" rel="home"><img width="110" height="35" src="images/logo.png" alt="" /></a>
  </div>

  <div id = "kensaku">
    <form id="form1" action="自分のサイトURL" method="get">
<input class="keyword" id="s" name="s" type="text" placeholder="キーワードを入力" />
  </div>
  <div id = "botton">
<input type="image" alt="検索" width="45" height="24" src="images/search.png" />
  </div>

  <div id = "upload">
		<a href="index.html" title="アップロード" rel="home"><img width="103" height="24" src="images/upload.png" alt="" /></a>
  </div>
  <div id = "premium">
		<a href="index.html" title="プレミアム" rel="home"><img width="90" height="24" src="images/premiamu.png" alt="" /></a>
</div>
</div>

<nav class="nav">
  <ul>
    <li class=”current”><a href=”#”>ホーム ▼</a></li>
    <li><a href=”#”>カテゴリ ▼ </a></li>
    <li><a href=“#”>ランキング ▼</a></li>
  </ul>
</nav>

</div>

 <div class="pics">
    <div class="inline-block">
      <div class=pic>
      <img width="220" height="130" src="images/sam/01.jpeg" alt="" />
      <p> afdskfjk 👍</p>
      </div>
      <div class=pic>
      <img width="220" height="130" src="images/sam/01.jpeg" alt="" />
      <p> afdskfjk </p>
      </div>
      <div class=pic>
      <img width="220" height="130" src="images/sam/01.jpeg" alt="" />
      <p> afdskfjk </p>
      </div>
      <div class=pic>
      <img width="220" height="130" src="images/sam/01.jpeg" alt="" />
      <p> afdskfjk </p>
      </div>
      <div class=pic>
      <img width="220" height="130" src="images/sam/01.jpeg" alt="" />
      <p> afdskfjk </p>
      </div>
    </div>
  </div>


<h2>ヘッダーとフッターのサンプルページ </h2>

<p>サンプルページの中身。<br>
このページをパソコンとスマホで表示して比べてみてください。ＰＣのブラウザでウインドウを横に伸縮してみても確認することが出来ます。</p>
<p>パソコンの画面では↑この画像と同じ配置になります。</p>

</div>

<div id = syazi>
  <p> 平成hubチームは、毎日エモ画像をアップデートしています。全てがそろった100%無料エモ画像集。自由にダウンロードできる膨大な無料エモ画像セレクション。平成hubは最も完璧かつ革新的なエモ画像チューブサイトです。ストリーミング・エモ画像、ダウンロード可能なエロ画像、そして、ネット上でNo.1の無料エモエモコミュニティー。刺激的でよりよいエモ画像生活がおくれるよう、私たちは常に新機能を追加しています。いつでも質問やコメントを送ってください。 </p>
</div>
<div class="fwrapper">
<div class="footer">
<center>

<div class="fwrapper">
<div class="footer">
<center>
  <ul class="footitem">
  <li>情報</li>
  <li>採用情報</li>
  <li>サポートおよびヘルプ</li>
  <li>検索</li>
</center>
</div>
</div>

</body>
