<meta charset="utf-8">

<%= erb :header %>

<style type="text/css">
<!--
#gif{
    margin: 50px;
    text-align:center;
}
-->
</style>

<div id = 'gif'>
    <img src="/assets/images/premium.gif" alt="" />
</div>

<%= erb :footer %>
