<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="assets/js/upload.js"></script>
<link rel="stylesheet" type="text/css" href="assets/css/upload.css">

<%= erb :header %>
<div id="space">
  <form  action="/upload" method="post" enctype="multipart/form-data" onsubmit="checkText()">
    <div class= "main">
        <div class = "form">
          <input type="file" name="image" required>
          <p>ここにエモ画像をドラッグ＆ドロップ</p>
        </div>
    </div>

    <div class = "upload_title">
      <h4>タイトル</h4>
      <input id="title" name="title" type="text" placeholder="タイトルを入力" required>
    </div>

    <div class = "upload_text">
      <h4>本文</h4>
      <textarea id="text" name="text" type="text" placeholder="本文を入力" required></textarea>
    </div>

    <div class="button">
      <button type="submit">Upload</button>
    </div>

  </form>
</div>

<%= erb :footer %>
