@charset "utf-8";

.footitem li{
  display: inline-block;
  width: 200px;
  height: 50px;
  color: #888888;
}

#comment{
  color: #888888;
  font-size: small;
}

.fwrapper{
   width: 100%;
   background-color: #222222;
}

.footer{
  width: 100%;
  margin: auto;
  padding: 8px 5px 3px ;
}

