@charset "utf-8";

.pics{
  margin: 0 50px;
}

.pic{
  text-align: center;
}

.inline-block{
  margin-bottom: 20px;
  #display: -webkit-flex;
  display: flex;
  webkit-justify-content: space-between;
  justify-content: space-between;
  color: #FFA500;
}
