@charset "utf-8";

.main{
  margin: 20px 70px;
}

.pic{
  text-align: center;
}

.inline-block{
  margin-bottom: 20px;
  #display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  webkit-justify-content: space-between;
  justify-content: space-between;
  color: #FFA500;
}

.title{
  margin-top: -7px;
  font-size: 0.9em;
}